@mixin styles {
  .qds-ui .q-footer { border-top: var(--qds-border-width-control) solid var(--qds-stroke-subtle); }

  :is(.qds-ui.qds-variant-one, .qds-ui .qds-variant-one) .q-footer {
    border-start-start-radius: var(--qds-card-radius);
    border-start-end-radius: var(--qds-card-radius);
    box-shadow: var(--qds-shadow-8);
  }

  :is(.qds-ui.qds-variant-ink, .qds-ui .qds-variant-ink) .q-footer { border-top-color: var(--qds-separator-color); }
}
