@mixin styles {
  .qds-ui .q-footer {
    border-top: var(--qds-border-width-control) solid var(--qds-stroke-subtle);
  }

  .qds-ui.qds-variant-mobile .q-footer,
  .qds-ui .qds-variant-mobile .q-footer {
    border-start-start-radius: var(--qds-card-radius);
    border-start-end-radius: var(--qds-card-radius);
    box-shadow: var(--qds-shadow-8);
  }

  .qds-ui.qds-variant-ink .q-footer,
  .qds-ui .qds-variant-ink .q-footer {
    border-top-color: var(--qds-separator-color);
  }
}
