@mixin styles {
  .qds-ui .q-pagination {
    --qds-pagination-active-bg: var(--qds-state-selected);
    --qds-pagination-active-border: transparent;
    --qds-pagination-active-text: var(--qds-fg-brand);
    color: var(--qds-fg-default);
  }

  .qds-ui .q-pagination .q-btn {
    height: var(--qds-button-min-height);
    aspect-ratio: 1;
    color: var(--qds-fg-default) !important;
    background-color: transparent !important;
    border-color: transparent;
    font-weight: var(--qds-font-weight-regular);
  }

  .qds-ui .q-pagination .q-btn.q-btn[aria-current='true'] {
    color: var(--qds-pagination-active-text) !important;
    background-color: var(--qds-pagination-active-bg) !important;
    border-color: var(--qds-pagination-active-border);
    font-weight: var(--qds-font-weight-semibold);
  }

  .qds-ui .qds-variant-mobile .q-pagination .q-btn,
  .qds-ui.qds-variant-mobile .q-pagination .q-btn {
    height: 2.75rem;
  }

  .qds-ui .qds-variant-terminal .q-pagination .q-btn,
  .qds-ui.qds-variant-terminal .q-pagination .q-btn {
    border-radius: var(--qds-radius-sm);
  }
}
