@mixin styles {
  .qds-ui .q-toolbar.q-toolbar,
  .qds-ui .q-layout__section--marginal {
    background: var(--qds-toolbar-bg);
    color: var(--qds-text);
    box-shadow: none !important;
  }

  .qds-ui .q-layout__section--marginal {
    border-bottom: var(--qds-border-width-control) solid var(--qds-border-subtle);
  }

  .qds-ui .q-toolbar.q-toolbar.qds-card {
    border: var(--qds-border-width-control) solid var(--qds-card-border);
  }
}
